:root {
  /*Primary*/
  --Blue: hsl(223, 87%, 63%);
  /*Secondary*/
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  /*Neutral*/
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
}
body {
  font-family: "Libre Franklin", sans-serif;
}
.img-header img {
  display: block;
  margin: 0 auto;
}
.img-header {
  margin: 50px 0;
}
h1 {
  font-weight: 300;
  color: var(--Gray);
  text-align: center;
}
h1 span {
  color: var(--Very-Dark-Blue);
  font-weight: 700;
}
.contenedor {
  text-align: center;
}
.contenedor p {
  font-size: 16px;
}
#correo {
  width: 90%;
  border-radius: 30px;
  border: 1px solid var(--Blue);
  padding: 15px 10px 15px 0px;
  margin-bottom: 10px;
}
#button {
  text-align: center;
  width: 90%;
  border-radius: 30px;
  padding: 10px 0px;
  background-color: var(--Blue);
  border: 1px solid var(--Blue);
  color: #fff;

  transition: all 0.3s ease-in-out;
}
#button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(79, 125, 243, 0.7);
  border-radius: 1px solid rgba(79, 125, 243, 0.7);
}
.contenedor img {
  width: 100%;
  height: 300px;
}
.img {
  margin-bottom: 150px;
}
.iconos {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 30px;
}
.icono {
  display: flex;
  height: 50px;
  width: 50px;
  border: 1px solid var(--Gray);
  text-align: center;
  align-items: center;
  border-radius: 50%;
  justify-content: space-evenly;
  font-size: 25px;
}
.icono i {
  color: var(--Blue);
}

footer p {
  color: var(--Gray);
  text-align: center;
}
@media (min-width: 768px) {
  .contenedor {
    width: calc(60% - 1rem);
    margin: 0 auto;
  }
  #correo {
    width: 50%;
    margin-right: 10px;
  }
  #button {
    width: 20%;
  }
  .contenedor img {
    width: 100%;
    height: 500px;
  }
  .iconos {
    padding: 0 500px;
  }
}
